@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desktop view */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Mobile view */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}


.hero {
  height: 100vh;
  /* background: url('../public/bg2.avif') no-repeat center center/cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}


